In [ ]:
%matplotlib inline

In [ ]:
# Import dependencies.
import matplotlib.pyplot as plt

In [ ]:
# Set the x-axis to a list of strings for each month.
x_axis = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]

# Set the y-axis to a list of floats as the total fare in US dollars accumulated for each month.
y_axis = [10.02, 23.24, 39.20, 35.42, 32.34, 27.04, 43.82, 10.56, 11.85, 27.90, 20.71, 20.09]

In [ ]:
# Create the plot
plt.plot(x_axis, y_axis)

In [ ]:
# Create the plot with ax.plt()
fig, ax = plt.subplots()
ax.plot(x_axis, y_axis)

In [ ]:

# Create the plot with ax.plt()
fig = plt.figure()
ax = fig.add_subplot()

In [ ]:
# Create the plot with ax.plt()
fig = plt.figure()
ax = fig.add_subplot()
#Added
ax.plot(x_axis, y_axis)

In [ ]:
# Create the plot with ax.plt()
ax = plt.axes()
ax.plot(x_axis, y_axis)

In [ ]:
# Create the plot.
plt.plot(x_axis, y_axis)
plt.show()

In [ ]:
# Create the plot and add a label for the legend.
plt.plot(x_axis, y_axis, label='Boston')
# Create labels for the x and y axes.
plt.xlabel("Date")
plt.ylabel("Fare($)")
# Set the y limit between 0 and 45.
plt.ylim(0, 45)
# Create a title.
plt.title("PyBer Fare by Month")
# Add the legend.
plt.legend()

In [ ]:
# Create the plot.
plt.plot(x_axis, y_axis, marker="*", color="blue", linewidth=2, label='Boston')
# Create labels for the x and y axes.
plt.xlabel("Date")
plt.ylabel("Fare($)")
# Set the y limit between 0 and 45.
plt.ylim(0, 45)
# Create a title.
plt.title("PyBer Fare by Month")
# Add a grid.
plt.grid()
# Add the legend.
plt.legend()

In [ ]:
# Skill Drill
# Create the plot.
plt.plot(x_axis, y_axis, marker="*", color="green", linewidth=2, label='Columbus')
# Create labels for the x and y axes.
plt.xlabel("Date")
plt.ylabel("Fare($)")
# Set the y limit between 0 and 45.
plt.ylim(0, 45)
# Create a title.
plt.title("PyBer Fare by Month")
# Add a grid.
plt.grid()
# Add the legend.
plt.legend()

In [ ]:
# Set the x-axis to a list of strings for each month.
x_axis = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]

# Set the y-axis to a list of floats as the total fare in US dollars accumulated for each month.
y_axis = [10.02, 23.24, 39.20, 35.42, 32.34, 27.04, 43.82, 10.56, 11.85, 27.90, 20.71, 20.09]

In [ ]:
# Create the plot
plt.bar(x_axis, y_axis)

In [ ]:
# Create the plot.
plt.bar(x_axis, y_axis, color="green", label='Boston')
# Create labels for the x and y axes.
plt.xlabel("Date")
plt.ylabel("Fare($)")
# Create a title.
plt.title("PyBer Fare by Month")
# Add the legend.
plt.legend()

In [ ]:
# Create the plot
plt.barh(x_axis, y_axis)

In [ ]:
# Create the plot
plt.barh(y_axis, x_axis)

In [ ]:
# Create the plot.
plt.barh(x_axis, y_axis)
plt.gca().invert_yaxis()

In [ ]:
# Set the x-axis to a list of strings for each month.
x_axis = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]

# Set the y-axis to a list of floats as the total fare in US dollars accumulated for each month.
y_axis = [10.02, 23.24, 39.20, 35.42, 32.34, 27.04, 43.82, 10.56, 11.85, 27.90, 20.71, 20.09]

In [ ]:
# Create the plot with ax.plt()
fig, ax = plt.subplots()
ax.bar(x_axis, y_axis)

In [ ]:
# Create the plot with ax.plt() - Question in module
fig, ax = plt.subplots()
ax.bar(x_axis, y_axis, color ="black", label ='New York')

In [ ]:
 #Create the plot with ax.plt()
fig, ax = plt.subplots()
ax.barh(x_axis, y_axis)

In [ ]:
# Create the plot with ax.plt() - Another exercise
fig, ax = plt.subplots()
ax.barh(y_axis, x_axis, color ="cyan", label ='Chicago')
plt.xlabel("Fare($)")
plt.ylabel("Date")
# Create a title.
plt.title("PyBer Fare by Month")

In [ ]:
plt.plot(x_axis, y_axis, 'o')

In [ ]:
# Set the x-axis to a list of strings for each month.
x_axis = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]

# Set the y-axis to a list of floats as the total fare in US dollars accumulated for each month.
y_axis = [10.02, 23.24, 39.20, 35.42, 32.34, 27.04, 43.82, 10.56, 11.85, 27.90, 20.71, 20.09]

In [ ]:
plt.scatter(x_axis, y_axis)

In [ ]:
plt.scatter(x_axis, y_axis)

In [ ]:
plt.scatter(x_axis, y_axis, s=y_axis)

In [ ]:
y_axis_larger = []
for data in y_axis:
  y_axis_larger.append(data*3)

In [ ]:
plt.scatter(x_axis, y_axis, s=y_axis_larger)

In [ ]:
plt.scatter(x_axis, y_axis, s = [i * 3 for i in y_axis])

In [ ]:
fig, ax = plt.subplots()
ax.scatter(x_axis, y_axis)

In [ ]:
fig, ax = plt.subplots()
ax.scatter(x_axis, y_axis, s=y_axis)

In [ ]:
plt.pie(y_axis, labels=x_axis)
plt.show()

In [ ]:
plt.subplots(figsize=(8, 8))
explode_values = (0, 0, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 0)
plt.pie(y_axis, explode=explode_values, labels=x_axis, autopct='%.1f%%')

In [ ]:
# Assign 12 colors, one for each month.
colors = ["slateblue", "magenta", "lightblue", "green", "yellowgreen", "greenyellow", "yellow", "orange", "gold", "indianred", "tomato", "mistyrose"]
explode_values = (0, 0, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 0)
plt.subplots(figsize=(8, 8))
plt.pie(y_axis,
    explode=explode_values,
    colors=colors,
    labels=x_axis,
    autopct='%.1f%%')

In [ ]:
fig, ax = plt.subplots()
ax.pie(y_axis,labels=x_axis)
plt.show()